.btn {
  padding: 4px 7px;
  border-style: solid;
  line-height: 1.5rem;

  &.btn {
    &--default {
      background-color: #efefef;
      border-color: #efefef;
      color: black;
    }
    &--error {
      background-color: #723030;
      border-color: #723030;
      color: white;
    }
    &--transparent {
      background: none;
      border: 1px solid #acacac;
      color: white;
    }
    &--small {
      line-height: 1rem;
      padding: 2px 5px;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
